.Header {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: left;
}

.Text {
  display: block;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 400;
  text-align: left;
}

@media (max-width: 800px) {
  .Text,
  .Header {
    text-align: center;
  }
}
