.Container {
  width: 200px;
  min-height: 250px;
  height: auto;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  font-size: 18px;
  align-items: center;
  margin: 10px;
}

.Header {
  font-weight: 400;
  margin-bottom: 5px;
}

.Container2 {
  text-align: center;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 18px;
}

.Temp {
  margin: 0;
}

.Main {
  font-weight: 700;
}

.Icon {
  width: 85px;
  margin: 0;
  padding: 0;
  height: 85px;
}

@media (max-width: 800px) {
  .Container {
    border-bottom: 1px solid white;
  }
}
