.Container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  /* border: 1px solid red; */
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* IMPLEMENT CSS GRID HERE 3 ON EACH ROW! */

@media (max-width: 800px) {
  .Container {
      display:flex;
      flex-wrap: wrap;
      flex-flow: column;
    width: auto;
  }
}
