.Container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  /* border: 1px solid red; */
  width: 100%;
  align-items: center;
  row-gap: 5;
  justify-content: center;
}

@media (max-width: 800px) {
  .Container {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    width: auto;
  }
}

@media (min-width: 1550px) {
  .Container {
    grid-template-columns: repeat(3, 300px);
  }
}
