.Container {
    display: flex;
    margin-top: 100px;
}

.Circle {
    background: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    animation: bounce 0.5s ease-in infinite;
}

.Circle:nth-last-of-type(2) {
    animation-delay: 0.1s;
}

.Circle:nth-last-of-type(3) {
    animation-delay: 0.2s;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}