
.Main {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0;
}

.Header {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
    /* align-self: center; */
}

.Description {
    font-weight: 700;
    font-size: 26px;
    margin: 0
}

.Icon {
    width: 100px;
    height: 100px;
}

.Temp {
    font-weight: 700;
    font-size: 26px;
}